@charset "utf-8";

body {
	margin: 0;
	padding: 0;
}
#contents {
	width: 840px;
	margin: 0 auto;
	padding-top: 20px;
}
#player {
	float: left;
}
#thumbnail {
	float: right;
	width: 160px;
	margin: 0;
	padding: 0;
}
#thumbnail li {
	list-style: none;
	margin-bottom: 7px;
}
#thumbnail li img {
	width: 100%;
	height: auto;
}
.back {
	clear: both;
	padding-top: 40px;
}

.hr1 {
  position: relative;
	height: 3px;
	border-width: 0;
	background-color: #00bcd4;
	background-image: -webkit-linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);
	background-image: linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);
}